body{
    font-family: 'Tinos', serif;
    margin: 0;
    font-weight: 300;
}
header{
background: #BF9264;
background: linear-gradient(90deg,rgba(191, 146, 100, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-image: url(images/IMG_7096.png\ \(cropped\).svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.font1{
    font-family: 'Imperial Script', cursive;
    font-size: 10rem;
    font-weight: lighter;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}
.font2{
    font-size: 8rem;
    text-align: center;
    color:#fff;
    margin-top: 0;
}
section{
    background-color: #231F20;
    color: #fff;
}
.About{
    background-color: #fff0dd;
    color: black;
}
